<div class="container-fluid">
   <div class="row">
    <div class="ctn-avatar col-lg-1 col-md-2 col-sm-8">
        <img class="owner-avatar" src="https://via.placeholder.com/150"/>

    </div>
    <div class="ctn-repos-infos col-lg-11 col-md-10 col-sm-8">
        <div class="ctn-repo-name">
            <h3 class="repo-name">
                Repository name
            </h3>
        </div>
        <div class="ctn-repo-description">
            <p class="description"> 
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                cum vitae eligendi adipisci maiores! Quae, at porro.
            </p>
        </div>
        <div class="ctn-repo-details row">
            <div class="ctn-stars-number solid-border-black col-md-2">
                <span class="stars-number ">
                    Stars: 118K
                </span>
            </div>
            <div class="ctn-issues-number solid-border-black col-md-2">
                <span class="issues-number">
                    Issues: 1.8K
                </span>
            </div>
            <div class="ctn-date-submission col-md-7">
                <span class="date-submission">
                   Submited 30 days ago by tensorflow
                </span>
            </div>
        </div>
    </div>
   </div>
</div>
