@import "../../../../../assets/scss/global.scss";

.ctn-github-repo-item{
    width: 100% !important;
    padding: 20px;
    
    .ctn-avatar{
        padding: 5px;
        width: 121px;
        height: 121px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1.5px solid #1a1a1a;
        background-color: #fefeff;
        img{
            width: 97%;
            border-radius: 50%;
        }
    }

    .ctn-repos-infos{
        padding: 5px;
        padding-bottom: 0px;

       .ctn-repo-name{
           padding-bottom: 7px;
            .repo-name{
                margin-left: 0px;
                font-size: 21px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 300;
                color: rgb(34, 34, 34);
            }
       }

       .ctn-repo-description{
            height: 40px;
            overflow-y: hidden;
            text-overflow: ellipsis;
           .description{
               font-size: 13px;
               color: #555;
               font-weight: normal;
               height: 100%;
           }
       }

       .ctn-repo-details{
            margin-top: 5px;
           .solid-border-black, .ctn-date-submission{
                padding: 0px;
                padding-left: 5px;
                border-width: 2px;
            }

           .ctn-stars-number, .ctn-issues-number{ 
                margin-left: 10px;
                margin-bottom: 10px;
                background-color: #1a1a1a;
                border-radius: 8px;
                padding-bottom: 3px;
            }

            .stars-number, .issues-number{
                font-weight: normal;
                font-size: 14px;
                color: #fefefe;
            }

            .date-submission{
                color: #aaa;
                font-weight: 100;
                font-size: 12px;
                margin-left: 10px;
            }
        }
    }
}

// hover effect on list-item
.ctn-github-repo-item:hover{
    border-bottom: 1px solid #aaa;
    background-color: #fefefe;
    border-radius: 8px;
}