<div class="container-fluid">
   <div class="row">
    <div class="ctn-avatar col-lg-2 col-md-2 col-sm-8">
        <img class="owner-avatar" src="{{githubRepo.owner.avatar_url}}"/>

    </div>
    <div class="ctn-repos-infos col-lg-10 col-md-10 col-sm-8">
        <div class="ctn-repo-name">
            <h3 class="repo-name">
                {{githubRepo.name}}
            </h3>
        </div>
        <div class="ctn-repo-description">
            <p class="description"> 
                {{githubRepo.description}}
            </p>
        </div>
        <div class="ctn-repo-details row ">
            <div class="ctn-stars-number solid-border-black col-md-2 col-sm-3">
                <span class="stars-number ">
                    Stars: {{githubRepo.stargazers_count}}
                </span>
            </div>
            <div class="ctn-issues-number solid-border-black col-md-2 col-sm-3">
                <span class="issues-number">
                    Issues: {{githubRepo.open_issues}}
                </span>
            </div>
            <div class="ctn-date-submission col-md-7 col-sm-4">
                <span class="date-submission">
                   Submited {{githubRepo.timeInterval}} ago by {{githubRepo.owner.login}}
                </span>
            </div>
        </div>
    </div>
   </div>
</div>
