@import "../../../../assets/scss/global.scss";

.container-fluid{
    margin: 20px;

    .ctn-avatar{
        padding: 5px;
        position: relative;
        width: 121px;
        height: 121px;
        img{
            width: 99px;
            height: 99px;
        }
    }

    .ctn-repos-infos{
        padding: 5px;
        padding-bottom: 0px;

       .ctn-repo-name{
            .repo-name{
                margin-left: 0px;
                font-size: 21px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 300;
                color: #333;
            }
       }

       .ctn-repo-description{
           margin-top: 10px;
           .description{
               font-size: 14px;
               color: #555;
               font-weight: normal;
           }
       }

       .ctn-repo-details{
       
           .solid-border-black, .ctn-date-submission{
                padding: 0px;
                padding-left: 5px;
                border-width: 2px;
              
           }

           .ctn-stars-number, .ctn-issues-number{ 
                margin-left: 10px;
                
            }

            .stars-number, .issues-number,.date-submission{
                font-weight: normal;
                color: #222;
                font-size: 14px;
            }
             
        }

    }

}